<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/header %>
</head>
<body class="slideshow">
<input type="hidden" id="eventcode" value="<%= data.eventCode %>">
<input type="hidden" id="firstimage" value="<%= data.images[0].imageUrl %>">
<div id="slickcontent">
    <% data.images.forEach(function(image) { %>
      <div class="slide">
        <div class="gallery-wrapper">
          <div class="gallery">
            <img data-lazy="<%= image.imageUrl %>" alt="" />
          </div>
        </div>

        <div class="meta-wrapper">
          <div class="meta-info">
            <img src="images/logo.png" alt="" class="logo" />
            <span class="event-name"><%= data.eventName %></span>
            <span class="event-code">Use event code <span><%= data.eventCode %></span> for logging in.</span>
          </div>

          <div class="comments-wrapper fadeIn">
            <% image.comments.forEach(function(comment) { %>
            <div class="comments">
              <span class="name"><strong><%= comment.userAlias %></strong> | <%= comment.created %></span>
              <span class="comment"><%= comment.message %></span>
            </div>
            <% }); %>
            <div class="comments">
              <span class="name"><strong><%= image.userAlias %></strong> | <%= image.created %></span>
              <span class="comment"><%= image.description %></span>
            </div>

          </div>
        </div>
      </div>
    <% }); %>
</div>
</body>
<% include partials/footer %>
</html>
