<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/header %>
</head>
<body class="slideshow">
<div id="slickcontent">
    <% data.images.forEach(function(image) { %>
      <div class="slide">
        <div class="gallery-wrapper">
          <div class="gallery">
            <img data-lazy="<%= image.imageUrl %>" alt="" />
          </div>
        </div>

        <div class="meta-wrapper">
          <div class="meta-info">
            <img src="images/logo.png" alt="" class="logo" />
            <span class="event-name"><%= data.eventName %></span>
            <span class="event-code">Event code: <span><%= data.eventCode %></span></span>
            <span class="hipstaroll">Download app at hipstaroll.com</span>
          </div>

          <div class="comments-wrapper fadeIn">
            <% image.comments.forEach(function(comment) { %>
            <div class="comments">
              <span class="time"><%= comment.created %></span>
              <span class="name"><%= comment.userAlias %></span>
              <span class="comment"><%= comment.message %></span>
            </div>
            <% }); %>
            <div class="comments">
              <span class="time"><%= image.created %></span>
              <span class="name"><%= image.userAlias %></span>
              <span class="comment"><%= image.description %></span>
            </div>

          </div>
        </div>
      </div>
    <% }); %>
</div>
</body>
<% include partials/footer %>
</html>
